.elem-pages-url{
    display: flex;

    .elem-pages-url_item{
        width: 70%;
        padding: 20px;
        box-sizing: border-box;

        .elem-pages-url_item-image{
            margin: 20px 0;
            img{
                width: 100%;
            }
        }

        p{
            font-family: system-ui;
            font-weight: normal;
        }
    }
}

@media screen and (max-width: 1150px) {
    .elem-pages-url {
        display: flex;
        margin-top: 54px;
    }
}

@media screen and (max-width: 900px) {
    .elem-pages-url {
        flex-direction: column-reverse;

        .elem-pages-url_item{
            width: 100%;
            padding: 5px;
        }
    }
}