.society-item{
    display: flex;
    margin-top: 20px;
    color: black;

    .society-item_image{
        width: 200px;
        height: 100px;
        background-size: cover;
        background-position: center;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }
    .society-item_content{
        width: 100%;
        margin-left: 20px;

        .society-item_content-title {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 8px;
            font-family: sans-serif;

            &:hover {
                cursor: pointer;
                color: #efa205;
            }
        }
    }
};