.news-info {
    width: 100%;
    display: flex;
    margin-left: 200px;
}

@media screen and (max-width: 1150px){
    .news-info{
        margin: 0;
    }
}

@media screen and (max-width: 900px){
    .news-info{
        flex-direction: column-reverse;
    }
}