.new-news{
    width: 40%;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
    color: #efa205;

    p{
        margin: 20px 0 5px 0;
    }
    input{
        width: 100%;
        height: 25px;
        padding: 10px;
        box-sizing: border-box;
    }
    textarea{
        width: 100%;
        height: 300px;
        padding: 10px;
        box-sizing: border-box;
    }
    button{
        width: 100px;
        height: 25px;
        border: none;
        border-radius: 10px;
        background: rgb(0, 158, 0);
        color: white;
        margin-top: 20px;
        cursor: pointer;

        &:hover{
            background: green;
        }
    }
}

@media screen and (max-width: 850px){
    .new-news{
        width: 100%;
    }
}

@media screen and (max-width: 400px){
    .new-news{
        padding: 0 5px;
    }
}