.account {
    width: 100%;
    
    .account-singIn {
        width: 300px;
        margin: 200px auto;
        padding: 20px 50px;
        box-sizing: border-box;
        border: 1px solid #efa205;
        border-radius: 10px;

        h2 {
            color: #efa205;
            text-align: center;
        }

        p {
            font-family: system-ui;
            margin-top: 10px;
            font-size: 14px;
            color: #25252c;
        }

        input {
            width: 100%;
            height: 25px;
            border-radius: 5px;
            border: 1px solid #25252c;
            padding: 10px;
            color: #25252c;
            box-sizing: border-box;
            margin-top: 5px;

            &:focus {
                outline-color: #efa205;
            }
        }

        .account-singIn_error {
            height: 20px;
            color: red;
            font-size: 12px;
            font-family: system-ui;
        }

        button {
            width: 100%;
            height: 25px;
            background: rgb(1, 175, 1);
            border: none;
            color: white;
            font-family: system-ui;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background: green;
            }
        }
    }
    .account-setting{
        width: 100%;

        .account-setting-staristic{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            background: url('https://www.unian.ua/build/assets/img/war-big2.png');
            padding: 20px 40px;
            box-sizing: border-box;
            background-size: cover;
        }
    }
}