.society-pages-url{
    display: flex;

    .society-pages-url_item{
        width: 70%;
        padding: 20px;
        box-sizing: border-box;

        .society-pages-url_item-image{
            margin: 20px 0;
            img{
                width: 100%;
            }
        }

        p{
            font-family: system-ui;
            font-weight: normal;
        }
    }
}